<div class="packets-detail-container">
    <div class="packets-detail-ticket"
         ng-class="{'red-packet-bgc': true,
                    'coupon-bgc': false }">
        <div class="packets-detail-ticket__content">
            <div class="up">
                <div class="logo-container">
                    <img src="http://placehold.it/120x120" alt="">
                </div>
                <div class="business-name">好好先生</div>
                <div class="ticket-name">5元优惠券</div>
            </div>
            <div class="down">
                <div class="fix-ticket-circle-l"></div>
                <div class="fix-ticket-circle-r"></div>
                <div class="qr-code">
                    <img src="http://placehold.it/120x120" alt="">
                </div>
                <div class="coupon-code">2389234612389</div>
                <div class="info">每人每次仅限使用一张</div>
                <div class="limit-date">有效期: 2016-6-6 - 2016-7-7</div>
            </div>
        </div>
    </div>

    <div class="packets-detail">
        <div class="weui_cells">
            <div class="weui_cell">
                <div class="weui_cell_hd"></div>
                <div class="weui_cell_bd weui_cell_primary">
                    <p class="packets-detail__title">社群详情</p>
                </div>
            </div>

            <article class="weui_article">
                <section>
                    <section>
                        <h3 class="packets-detail__little-title">使用规则</h3>
                        <p class="packets-detail__content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat. Duis aute</p>
                    </section>
                    <section>
                        <h3 class="packets-detail__little-title">适用门店</h3>
                        <p class="packets-detail__content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat. Duis aute</p>
                    </section>
                    <section>
                        <h3 class="packets-detail__little-title">关于我们</h3>
                        <img class="about-us" src="http://placehold.it/120x120" alt="">
                        <p class="wechat-number">微信公众号: 爱一组下沙</p>
                    </section>
                </section>
            </article>
        </div>
    </div>

</div>