* {
  margin: 0;
  padding: 0;
}
body{
  background-color: #f1f0f8;
  /*这一句是用来解决在安卓上的点击出现篮框问题*/
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}
/*下面是解决ios上去除微信点击蓝色边框 */
a:focus,
input:focus,
p:focus,
div:focus{
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  -webkit-user-modify:read-write-plaintext-only;
}
.clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
    clear: both;
  }
}
h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: normal;
}
ul, li, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
.fl{
  float: left;
}
.fr{
  float: right;
}
.inline-block{
  display: inline-block!important;
}
.block{
  display: block!important;
}
.text-center{
  text-align: center;
}
.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}
