<html ng-app="myApp" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title ng-bind="global.docTitle"></title>
    <!--<base href="/iyzapp/home/index/">-->
    <base href="/">
    <!-- fontawesome -->
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
    <!-- fontawesome -->

    <!-- please-wait begin -->
    <link rel="stylesheet" href="/lib/home/please-wait/please-wait.css">
    <link rel="stylesheet" href="/lib/home/app.css">
    <script src="/lib/home/please-wait/please-wait.min.js"></script>
    <!-- please-wait end -->

    <!--下面的两个SCRIPT标签是为了让BrowserSync可以正常在不同的设备上正常运转,[仅限使用在生产环境中]-->
    <script type="text/javascript" id="__bs_script__">
        //<![CDATA[
        document.write("<script async src='/browser-sync/browser-sync-client.2.11.1.js'><\/script>".replace("HOST", location.hostname));
        //]]>
    </script>
    <script async="" src="/browser-sync/browser-sync-client.2.11.1.js"></script>

</head>
<body ng-controller="BaseController as vm" ng-class="{'white-bgc': whiteBgc}">

    <navbar></navbar>
    <div ui-view></div>

    <!-- 以下部分是JavaScript部分 -->

    <!-- please wait begin-->
    <script>

        var loadingHtml = '<p class="loading-message" style="color: #888;">请稍等,正在拼命加载中...</p>\
                       <div class="sk-spinner sk-spinner-wave">\
                            <div class="sk-rect1"></div>\
                            <div class="sk-rect2"></div>\
                            <div class="sk-rect3"></div>\
                            <div class="sk-rect4"></div>\
                            <div class="sk-rect5"></div>\
                       </div>';

        window.loading_screen = window.pleaseWait({
            logo: "/assets/images/iyizhan.png",
            backgroundColor: '#f1f0f8',
            loadingHtml: loadingHtml
        });
    </script>
    <!-- please wait end-->

    <script>
        <!--  以下部分是我们应用需要用到的外部的配置参数 -->
        window.config = {
            apiPre: '/api/wechat',
            host: '/iyz'
        };
    </script>
</body>
</html>