<div class="activity-list border-box">
    <div class="pic" ng-repeat="v in vm.activities">
        <a ng-href="{{v.url}}">
            <img ng-src="{{v.img}}!w320h210" class="img-responsive" alt=""/>
        </a>
        <div class="text">
            <p class="title">{{v.name}}</p>
            <p class="tag">
                <span ng-repeat="t in v.tag">
                    <span>{{t.name}}</span><span ng-hide=$last> · </span>
                </span>
            </p>
            <div class="btns">
                <button class="weui_btn weui_btn_plain_default">{{vm.activityDates[$index]}}</button>
                <button class="weui_btn weui_btn_plain_default">阅读量({{vm.PVS[$index]}})</button>
                <button ng-click="vm.iLikeIt($index, v.id)" class="weui_btn weui_btn_plain_default fr clear-both">
                    <i ng-class="{'active': 1 == vm.iBtnsStatus[$index],
                                  'fa-thumbs-o-up': 0 == vm.iBtnsStatus[$index],
                                  'fa-thumbs-up': 1 == vm.iBtnsStatus[$index]}"
                       class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                    <span ng-class="{'active': 1 == vm.iBtnsStatus[$index]}">{{vm.iLikeCount[$index]}}</span>
                </button>
            </div>
        </div>
    </div>
    <p ng-click="vm.getActivities()" class="more">{{vm.btnText}}</p>
</div>