<div id="fullpage">
    <div class="section">
        <div class="slide guide-1">
            <div class="guide-1-container slide-inner">
            </div>
        </div>
        <div class="slide guide-2">
            <div class="guide-2-container slide-inner">
            </div>
        </div>
        <div class="slide guide-3">
            <div class="guide-3-container slide-inner">
                <div class="guide-3-container__enter-container">
                    <a class="guide-3-container__enter" ng-click="vm.nextStep()">开启</a>
                </div>
            </div>
        </div>
    </div>
</div>